<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gree.twms.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.gree.twms.pojo.Account" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tID" property="tid" jdbcType="VARCHAR" />
    <result column="tName" property="tname" jdbcType="VARCHAR" />
    <result column="tModel" property="tmodel" jdbcType="VARCHAR" />
    <result column="versionNum" property="versionnum" jdbcType="VARCHAR" />
    <result column="team" property="team" jdbcType="VARCHAR" />
    <result column="pName" property="pname" jdbcType="VARCHAR" />
    <result column="returnTime" property="returntime" jdbcType="VARCHAR" />
    <result column="borrowTime" property="borrowtime" jdbcType="VARCHAR" />
    <result column="remarks1" property="remarks1" jdbcType="VARCHAR" />
    <result column="remarks2" property="remarks2" jdbcType="VARCHAR" />
    <result column="remarks3" property="remarks3" jdbcType="VARCHAR" />
    <result column="remarks4" property="remarks4" jdbcType="VARCHAR" />
    <result column="remarks5" property="remarks5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tID, tName, tModel, versionNum, team, pName, returnTime, borrowTime, remarks1, 
    remarks2, remarks3, remarks4, remarks5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gree.twms.pojo.AccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gree.twms.pojo.AccountExample" >
    delete from account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gree.twms.pojo.Account" >
    insert into account (id, tID, tName, 
      tModel, versionNum, team, 
      pName, returnTime, borrowTime, 
      remarks1, remarks2, remarks3, 
      remarks4, remarks5)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, 
      #{tmodel,jdbcType=VARCHAR}, #{versionnum,jdbcType=VARCHAR}, #{team,jdbcType=VARCHAR}, 
      #{pname,jdbcType=VARCHAR}, #{returntime,jdbcType=VARCHAR}, #{borrowtime,jdbcType=VARCHAR}, 
      #{remarks1,jdbcType=VARCHAR}, #{remarks2,jdbcType=VARCHAR}, #{remarks3,jdbcType=VARCHAR}, 
      #{remarks4,jdbcType=VARCHAR}, #{remarks5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gree.twms.pojo.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tid != null" >
        tID,
      </if>
      <if test="tname != null" >
        tName,
      </if>
      <if test="tmodel != null" >
        tModel,
      </if>
      <if test="versionnum != null" >
        versionNum,
      </if>
      <if test="team != null" >
        team,
      </if>
      <if test="pname != null" >
        pName,
      </if>
      <if test="returntime != null" >
        returnTime,
      </if>
      <if test="borrowtime != null" >
        borrowTime,
      </if>
      <if test="remarks1 != null" >
        remarks1,
      </if>
      <if test="remarks2 != null" >
        remarks2,
      </if>
      <if test="remarks3 != null" >
        remarks3,
      </if>
      <if test="remarks4 != null" >
        remarks4,
      </if>
      <if test="remarks5 != null" >
        remarks5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tmodel != null" >
        #{tmodel,jdbcType=VARCHAR},
      </if>
      <if test="versionnum != null" >
        #{versionnum,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="returntime != null" >
        #{returntime,jdbcType=VARCHAR},
      </if>
      <if test="borrowtime != null" >
        #{borrowtime,jdbcType=VARCHAR},
      </if>
      <if test="remarks1 != null" >
        #{remarks1,jdbcType=VARCHAR},
      </if>
      <if test="remarks2 != null" >
        #{remarks2,jdbcType=VARCHAR},
      </if>
      <if test="remarks3 != null" >
        #{remarks3,jdbcType=VARCHAR},
      </if>
      <if test="remarks4 != null" >
        #{remarks4,jdbcType=VARCHAR},
      </if>
      <if test="remarks5 != null" >
        #{remarks5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gree.twms.pojo.AccountExample" resultType="java.lang.Integer" >
    select count(*) from account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update account
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tID = #{record.tid,jdbcType=VARCHAR},
      </if>
      <if test="record.tname != null" >
        tName = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.tmodel != null" >
        tModel = #{record.tmodel,jdbcType=VARCHAR},
      </if>
      <if test="record.versionnum != null" >
        versionNum = #{record.versionnum,jdbcType=VARCHAR},
      </if>
      <if test="record.team != null" >
        team = #{record.team,jdbcType=VARCHAR},
      </if>
      <if test="record.pname != null" >
        pName = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.returntime != null" >
        returnTime = #{record.returntime,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowtime != null" >
        borrowTime = #{record.borrowtime,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks1 != null" >
        remarks1 = #{record.remarks1,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks2 != null" >
        remarks2 = #{record.remarks2,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks3 != null" >
        remarks3 = #{record.remarks3,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks4 != null" >
        remarks4 = #{record.remarks4,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks5 != null" >
        remarks5 = #{record.remarks5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update account
    set id = #{record.id,jdbcType=INTEGER},
      tID = #{record.tid,jdbcType=VARCHAR},
      tName = #{record.tname,jdbcType=VARCHAR},
      tModel = #{record.tmodel,jdbcType=VARCHAR},
      versionNum = #{record.versionnum,jdbcType=VARCHAR},
      team = #{record.team,jdbcType=VARCHAR},
      pName = #{record.pname,jdbcType=VARCHAR},
      returnTime = #{record.returntime,jdbcType=VARCHAR},
      borrowTime = #{record.borrowtime,jdbcType=VARCHAR},
      remarks1 = #{record.remarks1,jdbcType=VARCHAR},
      remarks2 = #{record.remarks2,jdbcType=VARCHAR},
      remarks3 = #{record.remarks3,jdbcType=VARCHAR},
      remarks4 = #{record.remarks4,jdbcType=VARCHAR},
      remarks5 = #{record.remarks5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gree.twms.pojo.Account" >
    update account
    <set >
      <if test="tid != null" >
        tID = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        tName = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tmodel != null" >
        tModel = #{tmodel,jdbcType=VARCHAR},
      </if>
      <if test="versionnum != null" >
        versionNum = #{versionnum,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        team = #{team,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pName = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="returntime != null" >
        returnTime = #{returntime,jdbcType=VARCHAR},
      </if>
      <if test="borrowtime != null" >
        borrowTime = #{borrowtime,jdbcType=VARCHAR},
      </if>
      <if test="remarks1 != null" >
        remarks1 = #{remarks1,jdbcType=VARCHAR},
      </if>
      <if test="remarks2 != null" >
        remarks2 = #{remarks2,jdbcType=VARCHAR},
      </if>
      <if test="remarks3 != null" >
        remarks3 = #{remarks3,jdbcType=VARCHAR},
      </if>
      <if test="remarks4 != null" >
        remarks4 = #{remarks4,jdbcType=VARCHAR},
      </if>
      <if test="remarks5 != null" >
        remarks5 = #{remarks5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gree.twms.pojo.Account" >
    update account
    set tID = #{tid,jdbcType=VARCHAR},
      tName = #{tname,jdbcType=VARCHAR},
      tModel = #{tmodel,jdbcType=VARCHAR},
      versionNum = #{versionnum,jdbcType=VARCHAR},
      team = #{team,jdbcType=VARCHAR},
      pName = #{pname,jdbcType=VARCHAR},
      returnTime = #{returntime,jdbcType=VARCHAR},
      borrowTime = #{borrowtime,jdbcType=VARCHAR},
      remarks1 = #{remarks1,jdbcType=VARCHAR},
      remarks2 = #{remarks2,jdbcType=VARCHAR},
      remarks3 = #{remarks3,jdbcType=VARCHAR},
      remarks4 = #{remarks4,jdbcType=VARCHAR},
      remarks5 = #{remarks5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>